*{
    padding:0;
    margin: 0;
}

body{
    background-color:teal;
    font-family: 'Sulphur Point', sans-serif;
    font-style: italic;
}

.container{
    display:flex;
    flex-direction: column;
    align-items:center;
    height: 100vh;
}

.title-image{
height:220px;
width: 500px;
margin-bottom: 15px;
margin-top: 10px;
border: solid 2px teal;
overflow: hidden;
border-radius: 100px;
}

h1{
    font-size:95px;
  
}




.game-container{
    border: 5px solid black;
    height: 500px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color:darkmagenta;
    font-size: 25px;
    
}

.guess-container{
    display: flex;
    flex-direction: row; 
    height: 500px;
    width: 850px;
    justify-content: space-between;
    padding: 20px;
    
}

.image{
 height: 125px;
 border: solid 2px;
 border-radius: 50px;
}

.player-image:hover{
    height:140px;
}

.player{
    height: 130px;
    width: 130px;
    border-radius:50px ;
    border:solid 2px black;
}

.rock{
    background-image: url(Assets/Rock.jpg) ;
    background-size: contain;
    background-repeat: no-repeat;
    border:solid 2px black;
    
    
}

.scissors{
    background-image: url(Assets/scissors.png) ;
    background-size: contain;
    background-repeat: no-repeat;
    border: black 2px solid;
}

.paper{
    background-image: url(Assets/Paper.jpg) ;
    background-size: contain;
    background-repeat: no-repeat;
    border: black 2px solid; 
}



.player-guess{
    display:flex;
    flex-direction: column;
    flex-grow:2;
    align-items: center;
    height: 450px;
    justify-content: space-between;
    font-size: 30px;
    
    
}

.results{ 
    display: flex;
    flex-direction:column;
    flex-grow: 1;
    justify-content: end;
    
    align-items: center;
    font-size: 30px;
    height: 400px;
}



.computer-answer{
    display:flex;
    flex-direction: column;
    flex-grow: 2;
    align-items: center;
    height: 450px;
    justify-content: space-between;
    font-size: 30px;
}

.submit{
    height:100px;
    width: 140px;
    border-radius: 65px;
    border: solid black 3px;
    background-color:#a189cf;
    font-size: 25px;
    font-weight: bold;
   
}

#submit{
    font-size: 35px;
    padding: 20px;
    background-color: black;
    color:darkmagenta;
    margin-bottom: 20px;
}

button:hover{
    height:140px;
    width: 140px;
    border: black 5px solid;
}

.score{
    display:flex;
    height: 50px;
    width:300px;
    padding-top: 50px;
    justify-content: space-between;
}